.Container {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  -webkit-box-shadow: 5px 7px 15px -12px #000000; 
  box-shadow: 5px 7px 15px -12px #000000;
  margin : 50px 30px 50px 30px;
  padding: 50px 1px 1px 7px;
  border-radius: 10px;
}


.titleH2 {
  position: relative;
  margin-top: 50px;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 0.8px;
  color: #ffb3eb;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
